SECRET_KEY=your-secret-key-here
DEBUG=True

DB_NAME=your-db-name
DB_USER=your-db-user
DB_PASSWORD=your-db-password
DB_HOST=127.0.0.1
DB_PORT=5433

PGADMIN_DEFAULT_EMAIL=your-pgadmin-email
PGADMIN_DEFAULT_PASSWORD=your-pgadmin-password